.container{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    color: white;
    background-color: gray;
    justify-content: space-between;
    align-items: baseline;
}
.facebook{
    display: flex;
    align-items: baseline;
gap: 10px;    
}
.facebook button{
    height: 40px;
    border-radius: 50px;
    
}

.mensagem{

}
.sino{

}

